# Dependencies
node_modules/
package-lock.json
yarn.lock

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*~

# Firebase local cache
.firebase/
*.log
firebase-debug.log
firestore-debug.log
ui-debug.log

# Temp
*.tmp
*.bak
*.backup
